<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="authenticated.dashboard">Issue Tracking System</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                {{ loggedUserData.Username }}
                <i class="fa fa-user fa-fw"></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a ui-sref="authenticated.profile_change_password" title="Change password">
                        <i class="fa fa-lock fa-fw"></i>
                        Change password
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ui-sref="authenticated.logout" title="Logout">
                        <i class="fa fa-sign-out fa-fw"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>

    </ul>
    <!-- /.navbar-top-links -->

</nav>