<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ projectData.Name }}

                <button
                        ng-if="isCurrentUserLead || isLoggedUserIsAdmin"
                        class="pull-right btn btn-success btn-sm"
                        ui-sref="authenticated.single_project_add_issue({id: projectData.Id})">
                    Add Issue
                </button>

                <button
                        ng-if="isCurrentUserLead || isLoggedUserIsAdmin"
                        class="pull-right margin-right-10 btn btn-success btn-sm"
                        ui-sref="authenticated.edit_project({id: projectData.Id})">
                    Edit
                </button>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list-alt fa-fw"></i>
                    Project details
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <label>Project key</label>
                                <input
                                        readonly="readonly"
                                        ng-model="projectData.ProjectKey"
                                        type="text"
                                        class="form-control"
                                        placeholder="Project key"/>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input
                                        readonly="readonly"
                                        ng-model="projectData.Name"
                                        type="text"
                                        class="form-control"
                                        placeholder="Name"/>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input
                                        readonly="readonly"
                                        ng-model="projectData.Description"
                                        type="text"
                                        class="form-control"
                                        placeholder="Description"/>
                            </div>
                            <div class="form-group">
                                <label>LeadId</label>
                                <input
                                        readonly="readonly"
                                        ng-model="projectData.Lead.Username"
                                        type="text"
                                        class="form-control"
                                        placeholder="LeadId"/>

                                <p class="help-block">(Current id: {{ projectData.Lead.Id }})</p>
                            </div>
                            <div class="form-group">
                                <label>Labels</label>

                                <p>
                                    {{ projectData.Labels | joinBy: ', ' : 'Name' }}
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Priorities</label>

                                <p>
                                    {{ projectData.Priorities | joinBy: ', ' : 'Name' }}
                                </p>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list-alt fa-fw"></i>
                    Issues

                    <div class="pull-right">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input
                                            checked="checked"
                                            ng-click="showOnlyAssignedIssues()"
                                            type="checkbox">
                                    Show only assigned issues
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Due Date</th>
                            <th>Assignee</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-if="projectIssues.length === 0">
                            <td class="text-center" colspan="4">
                                Project issues not found!
                            </td>
                        </tr>

                        <tr ng-if="projectIssues.length > 0">
                            <td>
                                <input
                                        class="form-control"
                                        ng-model="projectIssuesFilter.Title"
                                        type="text"
                                        placeholder="Filter by title" />
                            </td>
                            <td>
                                <input
                                        class="form-control"
                                        ng-model="projectIssuesFilter.Description"
                                        type="text"
                                        placeholder="Filter by description" />
                            </td>
                            <td>
                                <input
                                        class="form-control"
                                        ng-model="projectIssuesFilter.DueDate"
                                        type="text"
                                        placeholder="Filter by due date" />
                            </td>
                            <td>
                                <input
                                        class="form-control"
                                        ng-model="projectIssuesFilter.Assignee.Username"
                                        type="text"
                                        placeholder="Filter by assignee" />
                            </td>
                        </tr>

                        <tr
                                ng-if="projectIssues"
                                dir-paginate="issue in projectIssues| filter: projectIssuesFilter | orderBy: 'Id' : true | itemsPerPage: 10">
                            <td>
                                <a ui-sref="authenticated.single_issue({id: issue.Id})"
                                   title="{{ issue.Title }}">
                                    {{ issue.Title }}
                                </a>
                            </td>
                            <td>{{ issue.Description }}</td>
                            <td>{{ issue.DueDate | date: 'dd.MM.yyyy' }}</td>
                            <td>{{ issue.Assignee.Username }}</td>
                        </tr>

                        </tbody>
                    </table>

                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->