<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard

                <button
                        ng-if="isLoggedUserIsAdmin"
                        class="pull-right margin-right-10 btn btn-info btn-sm"
                        ui-sref="authenticated.all_projects">
                    All Projects
                </button>

                <button
                        ng-if="isLoggedUserIsAdmin"
                        class="pull-right margin-right-10 btn btn-success btn-sm"
                        ui-sref="authenticated.add_project">
                    New Project
                </button>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list-alt fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                {{ affiliatedProjects.length }}
                            </div>
                            <div>Affiliated Projects</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                ~{{ userIssuesPaginationData.totalItemsCount }}
                            </div>
                            <div>Assigned Issues</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list-alt fa-fw"></i>
                    Affiliated Projects
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-if="affiliatedProjects.length === 0">
                            <td class="text-center" colspan="2">
                                Affiliated projects not found!
                            </td>
                        </tr>

                        <tr
                                ng-if="affiliatedProjects.length > 0"
                                dir-paginate="project in affiliatedProjects | itemsPerPage: 10 | orderBy: 'Id' : true"
                                pagination-id="affiliatedProjectsPagination">
                            <td>
                                <a ui-sref="authenticated.single_project({id: project.Id})" title="{{ project.Name }}">
                                    {{ project.Name }}
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <dir-pagination-controls pagination-id="affiliatedProjectsPagination"></dir-pagination-controls>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-archive fa-fw"></i>
                    Assigned Issues
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Project</th>
                            <th>Due Date</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-if="userIssues.length === 0">
                            <td class="text-center" colspan="4">
                                Assigned Issues not found!
                            </td>
                        </tr>

                        <tr
                                ng-if="userIssues.length > 0"
                                dir-paginate="issue in userIssues | itemsPerPage: userIssuesPaginationData.itemsPerPage"
                                total-items="userIssuesPaginationData.totalItemsCount"
                                current-page="userIssuesPaginationData.currentPage"
                                pagination-id="userIssuesPagination">
                            <td>
                                <a ui-sref="authenticated.single_issue({id: issue.Id})" title="{{ issue.Title }}">
                                    {{ issue.Title }}
                                </a>
                            </td>
                            <td>
                                {{ issue.Description }}
                            </td>
                            <td>
                                <a ui-sref="authenticated.single_project({id: issue.Project.Id})"
                                   title="{{ issue.Project.Name }}">
                                    {{ issue.Project.Name }}
                                </a>
                            </td>
                            <td>
                                {{ issue.DueDate | date: 'dd.MM.yyyy' }}
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <dir-pagination-controls
                            ng-if="userIssues.length !== 0"
                            on-page-change="loadUserIssues(newPageNumber)"
                            pagination-id="userIssuesPagination"></dir-pagination-controls>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->